# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
DerivedData/
.DS_Store

# Tuist
Derived/
.tuist-version
graph.png

# SPM
.build/
.swiftpm/

# Secrets
Secrets.xcconfig

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
.superpowers/

# Tuist native package resolution / cache
.package.resolved
Tuist/.build/
